.filterSelectInner{
    position: relative;
}

@media (max-width: 390px) {
    .filterSelectInner{
        width: 100%;
    }
}

.filterSelect{
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    background: #121116;
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (max-width: 390px) {
    .filterSelect{
        width: 100%;
    }
}

.filterSelect svg{
    width: 7px;
    height: 4px;
    flex-shrink: 0;
    transition: .2s linear;
}

.filterSelect.active svg{
    transform: rotate(180deg);
}

.filterSelectTitle, .filterSelectValue{
    color: #565664;
    font-size: 1.2rem;
}

@media (max-width: 390px) {
    .filterSelectTitle{
        margin-right: auto;
    }
}

.filterSelectValue{
    color: #CCCCD3;
}

@media (max-width: 600px) {
    .filterSelectTitle, .filterSelectValue{
        font-size: 1.1rem;
    }
}

.selectDropdown{
    width: 180px;
    padding: 1.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid var(--border);
    background: #121116;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: .2s linear;
}

.selectDropdown.active{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.selectDropdownOption{
    width: 100%;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    text-align: left;
}

.selectDropdownOption.active{
    background: #24242e;
}

@media (any-hover: hover) {
    .selectDropdownOption:hover{
        background: #24242e;
    }
}