.discoverTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.discoverTitleInner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.discoverText{
    font-size: 1.3rem;
    color: #565664;
    font-weight: 300;
}

.discoverFilters{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px) {
    .discoverFilters{
        width: 100%;
        flex-wrap: wrap;
    }
}

.discoverSearchInputInner{
    width: 215px;
    flex-shrink: 0;
    position: relative;
}

@media (max-width: 768px) {
    .discoverSearchInputInner{
        max-width: 100%;
    }
}
@media (max-width: 500px) {
    .discoverSearchInputInner{
        width: 100%;
    }
}

.discoverSearchInputInner svg{
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}

.discoverSearchInput{
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.9rem 1.9rem 0.9rem 3.9rem;
    background: #121116;
    border: 1px solid var(--border);
    border-radius: 50px;
}

.discoverSearchInput::placeholder{
    color: #565664;
}

.blockView{
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px) {
    .blockView{
        margin-left: auto;
    }
}

.blockViewButton{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blockBg);
    padding: 0;
    flex-shrink: 0;
    border: 1px solid var(--border);
    color: #565664;
}

.blockViewButton.active{
    color: #000;
    background: linear-gradient(135deg, #06AD68 0%, #67AD06 100%);
}

.blockViewButton svg{
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    transition: .2s linear;
}

.discoverContent{
    width: 100%;
    padding: 15px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border-radius: 14px;
    border: 1px solid var(--border);
}

.discoverSort{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 9px;
    justify-content: flex-end;
}

.discoverSortTitle{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

.discoverSortItems{
    display: flex;
    align-items: center;
    gap: 10px;
}

.discoverSortItem{
    color: #3D3C45;
    font-size: 1.2rem;
}

.discoverSortItem.active{
    color: var(--main);
}

.discoverSortItem:not(:last-child){
    padding-right: 10px;
    border-right: 1px solid var(--border);
}

@media (any-hover: hover) {
    .discoverSortItem:hover{
        color: #fff;
    }
}

.discoverContentItems{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.discoverContentItem{
    width: calc(100% / 4 - 30px / 4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

@media (max-width: 1400px) {
    .discoverContentItem{
        width: calc(100% / 2 - 10px / 2);
    }
}
@media (max-width: 768px) {
    .discoverContentItem{
        width: 100%;
    }
}

.discoverContentItemTitle{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.discoverContentItemTitle svg{
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

.discoverContentItemBlock{
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.discoverContentBlockItem{
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 9px 10px;
    background: var(--blockBg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.discoverContentBlockItemInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.discoverContentBlockItemInfoUser{
    display: flex;
    align-items: center;
    gap: 7px;
}

.discoverContentBlockItemInfoUserName{
    font-size: 1.2rem;
    font-weight: 500;
    color: #BCBCBD;
}

.discoverContentBlockItemInfoStatus{
    padding: 3px 5px;
    border-radius: 5px;
    background: rgba(65, 65, 74, .2);
    font-size: 1rem;
    font-weight: 500;
}

.discoverContentBlockItemInfoStatus:not(.yellow){
    color: var(--main);
}

.discoverContentBlockItemInfoProfitValue{
    font-size: 1.4rem;
    color: #BCBCBD;
    font-weight: 500;
}

.discoverContentBlockItemInfoProfit{
    display: flex;
    align-items: center;
    gap: 7px;
}

.discoverContentBlockItemStats{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 6px;
    border-top: 1px solid var(--border);
}

.discoverContentBlockItemStat{
    width: calc(100% / 3);
    text-align: center;
    font-size: 1.2rem;
    color: #565664;
    font-weight: 300;
}

.discoverContentBlockItemStat span{
    color: #fff;
}