.createInfoBlock{
    width: 100%;
    position: relative;
    border-radius: 22px;
    overflow: hidden;
    background: linear-gradient(to bottom, #F9D75E 20%, #D38176 100%);
    padding: 20px 25px;
}

@media (max-width: 800px) {
    .createInfoBlock{
        padding: 15px;
    }
}

.createInfoBlockBg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.createInfoBlockBg img{
    object-fit: cover;
}

.createInfoBlockContent{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 23px;
}

@media (max-width: 800px) {
    .createInfoBlockContent{
        gap: 10px;
    }
}

.createInfoBlockContent svg{
    flex-shrink: 0;
}

@media (max-width: 800px) {
    .createInfoBlockContent svg{
        width: 32px;
        height: 42px;
    }
}

.createInfoBlockWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.createInfoBlockTitle{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}

.createInfoBlockText{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

@media (max-width: 800px) {
    .createInfoBlockTitle{
        font-size: 18px;
    }

    .createInfoBlockText{
        font-size: 14px;
    }
}

.createTokenContent{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap:15px;
}

@media (max-width: 850px) {
    .createTokenContent{
        flex-direction: column-reverse;
    }
}

.createTokenInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.createTokenSidebar{
    width: 100%;
    max-width: 280px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: sticky;
    top: 10px;
}

@media (max-width: 850px) {
    .createTokenSidebar{
        position: relative;
        top: 0;
        max-width: 100%;
    }
}

.createTokenImageForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid var(--border);
    background: var(--blockBg);
}

.createTokenImageWrapper{
    width: 100%;
    border-radius: 14px;
    border: 1px dashed #44424D;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.createTokenImageTitle{
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.createTokenImageTitle span{
    color: #D38176;
}

.createTokenImageText{
    color: #565664;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.createTokenImageLabel{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    border: 1px solid #67AD06;
    position: relative;
}

.createTokenImageLabel svg{
    width: 18px;
    flex-shrink: 0;
}

.createTokenImageLabel span{
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #565664;
    text-align: center;
    transition: color .2s linear;
}

@media (any-hover: hover) {
    .createTokenImageLabel{
        cursor: pointer;
    }

    .createTokenImageLabel:hover span{
        color: #fff;
    }
}

.createTokenImageLabelImage{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    overflow: hidden;
}

.createTokenImageLabelImage img{
    object-fit: cover;
}

.tokenCreateButtons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.tokenCreateButton{
    width: 100%;
    padding: 11px 16px;
    border-radius: 8px;
    border: 1px solid var(--main);
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (any-hover: hover) {
    .tokenCreateButton:hover{
        background: #1a1a1a;
    }
}

.tokenCreateButtonIcon{
    width: 30px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.tokenCreateButtonIcon svg{
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
}

.tokenCreateButtonWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.tokenCreateButtonTitle{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}

.tokenCreateButtonText{
    color: #565664;
    font-size: 1.2rem;
    font-weight: 300;
}

.tokenPreviewBlock, .tokenPreviewEmpty{
    width: 100%;
    padding: 16px;
    border-radius: 14px;
    border: 1px solid var(--border);
    background: var(--blockBg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.tokenPreviewEmpty{
    width: 100%;
    height: 300px;
    justify-content: center;
    text-align: center;
}

@media (max-width: 850px) {
    .tokenPreviewBlock, .tokenPreviewEmpty{
        display: none;
    }
}

.tokenPreviewEmpty p{
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}

.tokenPreviewContent{
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #2B2934;
}

.tokenPreviewImg{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.tokenPreviewImg img{
    object-fit: cover;
}

.tokenPreviewInfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1rem;
}

.tokenPreviewName{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.tokenPreviewInfoWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tokenPreviewPrice{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}

.tokenPreviewProfit{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--red);
    font-size: 1.2rem;
}

.tokenPreviewProfit svg{
    width: 5px;
    height: 5px;
    flex-shrink: 0;
}

.tokenPreviewBlockButtons{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.tokenPreviewBlockButton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 8px;
    padding: 9px 10px;
    border: 1px solid var(--border);
}

.tokenPreviewBlockButton svg{
    width: 11px;
    height: 11px;
    flex-shrink: 0;
}

@media (any-hover: hover) {
    .tokenPreviewBlockButton:hover{
        border: 1px solid #676767;
    }
}

.createTokenSettingsBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 17px;
    border-radius: 14px;
    border: 1px solid var(--border);
}

.createTokenSettingsTitle{
    font-size: 16px;
    color: #fff;
}

.createTokenSettingsText:not(:first-child){
    margin-top: 5px;
}

.createTokenSettingsShow{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 15px;
    border: 1px solid var(--border);
    border-radius: 14px;
    background: var(--blockBg);
}

@media (any-hover: hover) {
    .createTokenSettingsShow:hover{
        background: #121212;
    }
}

.createTokenSettingsPrices{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.createTokenSettingsPrice{
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 7px 12px;
    border-radius: 8px;
}

.createTokenSettingsPrice.active{
    color: var(--main);
    border: 1px solid var(--main);
}

@media (any-hover: hover) {
    .createTokenSettingsPrice:not(.active):hover{
        border: 1px solid #676767;
    }
}

.createTokenTiers{
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.createTokenTier{
    width: calc(100% / 2 - 15px / 2);
    border-radius: 14px;
    border: 1px solid var(--border);
    padding: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: linear-gradient(to bottom, rgba(6, 173, 104, 0) 0%, rgba(103, 173, 6, .2) 100%);
}

@media (max-width: 1400px) {
    .createTokenTier{
        width: 100%;
    }
}
@media (max-width: 1100px) {
    .createTokenTier{
        padding: 20px;
    }
}

.tierPrivate{
    background: linear-gradient(-149deg, rgba(16, 105, 67, .2) 0%, #16151B 100%);
}

.createTokenTier.active{
    border: 1px solid var(--main);
}

.createTokenTierTexts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.createTokenTierTitle{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 480px) {
    .createTokenTierTitle{
        font-size: 17px;
    }
}

.createTokenTierText{
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    text-align: left;
}

.createTokenTierInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, .1);
    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

@media (max-width: 1100px) {
    .createTokenTierInfo{
        font-size: 14px;
    }
}
@media (max-width: 1100px) {
    .createTokenTierInfo{
        font-size: 13px;
    }
}

.createTokenTierInfo span{
    font-weight: 600;
}

.createTokenItemWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.createTokenModeItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.createTokenModeItem{
    width: calc(100% / 5 - 60px / 5);
    border-radius: 14px;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--blockBg);
    padding: 15px 15px 20px 15px;
}

.createTokenModeItem.active{
    border: 1px solid var(--main);
}

@media (max-width: 1400px) {
    .createTokenModeItem{
        width: calc(100% / 3 - 30px / 3);
    }
}
@media (max-width: 1150px) {
    .createTokenModeItem{
        width: calc(100% / 2 - 15px / 2);
    }
}
@media (max-width: 390px) {
    .createTokenModeItem{
        width: 100%;
    }
}

.createTokenModeItemDesc{
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 50px;
    border: 1px solid #182F39;
}

.low{
    background: linear-gradient(to left, rgba(0, 208, 255, .22) 0%, rgba(0, 125, 153, .22) 100%);
}

.recommended{
    background: linear-gradient(to left, rgba(81, 255, 0, .22) 0%, rgba(48, 153, 0, .22) 100%);
}

.danger{
    background: linear-gradient(to left, rgba(213, 70, 70, .22) 0%, rgba(111, 36, 36, .22) 100%);
}

.critical{
    background: linear-gradient(to left, rgba(206, 55, 217, .22) 0%, rgba(109, 29, 115, .22) 100%);
}

.wild{
    background: linear-gradient(to left, rgba(106, 0, 255, .22) 0%, rgba(64, 0, 153, .22) 100%);
}

.createTokenModeItemTitle{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.createTokenModeItemText{
    text-align: center;
    margin-top: 5px;
    color: #565664;
    font-weight: 300;
    font-size: 1.3rem;
    width: 100%;
    max-width: 160px;
}

.createTokenSettingsAlert{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 9px 14px;
    background: #1B1B1E;
    border-radius: 8px;
    border: 1px solid #E6C07B;
    color: #E6C07B;
    font-size: 1.2rem;
    font-weight: 300;
}

.createTokenSettingsAlert svg{
    width: 19px;
    height: 19px;
    flex-shrink: 0;
}

.createTokenBuyInputInner{
    width: 100%;
    margin-top: 15px;
    position: relative;
}

.createTokenBuyInput{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: var(--main);
    min-height: 50px;
    padding: 10px 250px 10px 33px;
    border-radius: 8px;
    border: 1px solid var(--border);
}

.createTokenBuyInputPrefix{
    font-size: 16px;
    font-weight: 600;
    color: var(--main);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.createTokenBuyButtons{
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
}

.createTokenBuyButton{
    padding: 7px 13px;
    border-radius: 5px;
    border: 1px solid var(--border);
    font-size: 1.3rem;
    font-weight: 300;
    color: #565664;
}

@media (any-hover: hover) {
    .createTokenBuyButton:hover{
        border: 1px solid #676767;
    }
}

.createTokenButton{
    width: 100%;
    padding: 21.5px 10px;
    text-align: center;
    justify-content: center;
}

// Step 2 - complete payment
.tokenCompleteContent{
    width: 100%;
    max-width: 890px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0 auto;
}

.tokenCompleteTextInner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.tokenCompleteTitle, .tokenCompleteText{
    text-align: center;
}

.tokenCompleteWrapper{
    width: 100%;
    display: flex;
    gap: 15px;
}

@media (max-width: 800px) {
    .tokenCompleteWrapper{
        flex-direction: column;
    }
}

.tokenCompleteInfo, .tokenCompleteBalanceWrapper{
    width: calc(100% / 2 - 15px / 2);
}

@media (max-width: 800px) {
    .tokenCompleteInfo, .tokenCompleteBalanceWrapper{
        width: 100%;
    }
}

.tokenCompleteInfo{
    border-radius: 14px;
    padding: 12px 15px 20px 15px;
    border: 1px solid var(--border);
    background: var(--blockBg);
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tokenCompleteBalanceWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.tokenCompleteBalanceInfo, .tokenCompleteBalance{
    width: 100%;
    border-radius: 14px;
    border: 1px solid var(--border);
    background: var(--blockBg);
}

.tokenCompleteBalanceInfo{
    padding: 12px 15px 12px 65px;
}

.tokenCompleteBalance{
    padding: 15px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.tokenCompleteInfoToken{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.tokenCompleteInfoTokenInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tokenCompleteInfoTokenName{
    font-size: 1.2rem;
    font-weight: 500;
    color: #BCBCBD;
}

.tokenCompleteInfoEdit{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    font-size: 1.2rem;
    padding: 9px 18px;
    border-radius: 8px;
    border: 1px solid var(--border);
}

.tokenCompleteInfoEdit svg{
    width: 10px;
    height: 10px;
    flex-shrink: 0;
}

@media (any-hover: hover) {
    .tokenCompleteInfoEdit:hover{
        border: 1px solid #676767;
    }
}

.tokenCompleteInfoItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.tokenCompleteInfoItem{
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 14px;
    padding: 10px 17px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.tokenCompleteInfoItemBlock{
    display: flex;
    align-items: center;
    gap: 13px;
}

.tokenCompleteInfoItemBlockIcon{
    width: 20px;
    display: flex;
    flex-shrink: 0;
    color: #fff;
}

.tokenCompleteInfoItemBlockTexts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tokenCompleteInfoItemBlockTitle{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}

.tokenCompleteInfoItemBlockTitle span{
    color: #FFCE1C;
}

.tokenCompleteInfoItemSlots{
    display: flex;
    align-items: center;
    gap: 6px;
}

.tokenCompleteInfoItemSlotsPrice{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 3px 6px;
    border-radius: 5px;
    background: rgba(65, 65, 74, .2);
    color: var(--main);
    font-size: 1.2rem;
    font-weight: 500;
}

.tokenCompleteInfoItemSlotsPrice svg{
    width: 11px;
    height: 11px;
    flex-shrink: 0;
}

.tokenCompleteInfoItemSlotsValue{
    color: #565664;
    font-size: 1.2rem;
    font-weight: 300;
}

.tokenCompleteInfoItemBlockText{
    font-size: 1.2rem;
    font-weight: 300;
    color: #565664;
}

.tokenCompleteInfoItemBlockIcon svg{
    width: 100%;
    flex-shrink: 0;
}

.tokenCompleteBalanceWrap{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tokenCompleteBalanceWrap svg{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.tokenCompleteBalanceTexts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tokenCompleteBalanceValue{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}

.tokenCompleteBalanceText{
    font-size: 1.2rem;
    font-weight: 300;
    color: #565664;
}

.tokenCompleteBalanceTotalItem{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
}

.tokenCompleteBalanceTotalItemTitle{
    font-weight: 300;
    color: #565664;
    font-size: 1.2rem;
}

.tokenCompleteBalanceTotalItemTitle.bold{
    font-weight: 500;
}

.tokenCompleteBalanceTotalItemValue{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.tokenCompleteBalanceInfoWrap{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tokenCompleteBalanceInfoTitle{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
}

.tokenCompleteBalanceTotalInfo{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 7px 16px;
    border-radius: 8px;
    background: #1B1B1E;
    border: 1px solid #E6C07B;
    color: #E6C07B;
    font-size: 1.2rem;
    font-weight: 300;
}

.tokenCompleteBalanceTotalInfo svg{
    width: 11px;
    height: 11px;
    flex-shrink: 0;
}

.tokenCompleteBalanceButton{
    color: var(--main);
    font-size: 1.2rem;
    font-weight: 300;
}

.tokenCompleteInfoTitle{
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}

.tokenCompleteBalanceBlock{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 9px 20px;
    border: 1px solid var(--border);
    border-radius: 14px;
}

.tokenCompleteBalanceTotal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 15px 20px;
    border: 1px solid var(--border);
    border-radius: 14px;
}

.tokenCompleteButtons{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tokenCompleteButton{
    padding: 11px 27px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    border-radius: 12px;
    border: 1px solid var(--main);
}

.launchedModalClose{
    padding: 11px 25px;
    border-radius: 12px;
    margin-top: 15px;
}

.launchedModalTexts{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.launchedModalTitle{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
}

.launchedModalText{
    color: #646466;
    font-size: 1.2rem;
    font-weight: 300;
}

.launchedModalContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-top: 14px;
}

.launchedModalCheckbox{
    margin-top: 14px;
}

.launchedModalInfoIcon{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main);
}

.launchedModalTokenInfo{
    display: flex;
    align-items: center;
    gap: 14px;
}

.launchedModalTokenInfoName{
    color: #fff;
    font-size: 1.2rem;
}

.tokenCompleteTotal{
    width: 100%;
    margin-top: 10px;
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.tokenCompleteTotalItem{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.tokenCompleteTotalItemTitle{
    font-weight: 300;
    color: #646466;
    font-size: 1.2rem;
}

.tokenCompleteTotalItemText{
    font-size: 1.1rem;
    color: #fff;
}