.mainItem{
    width: calc(100% / 4 - 45px / 4);
    padding: 1.1rem;
    border-radius: 22px;
    background: #121116;
    border: 1px solid #25242A;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

@media (max-width: 1500px) {
    .mainItem{
        width: calc(100% / 3 - 30px / 3);
    }
}
@media (max-width: 1200px) {
    .mainItem{
        width: calc(100% / 2 - 15px / 2);
    }
}
@media (max-width: 650px) {
    .mainItem{
        flex-direction: column;
        align-items: center;
    }
}

.mainItemImg{
    width: 127px;
    flex-shrink: 0;
    border: 1px solid #25242A;
    border-radius: 16px;
    padding: 0.3rem;
}

@media (max-width: 1050px) {
    .mainItemImg{
        width: 90px;
    }
}

.mainItemImgContent{
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.mainItemImg img{
    object-fit: cover;
}

.mainItemContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.3rem 0 0 0;
}

.mainItemName{
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}

.mainItemPriceInner{
    width: 100%;
    margin-top: 0.4rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #2B2934;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mainItemPrice{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.mainItemPercent{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.2rem;
    font-weight: 500;
}

.mainItemPercent svg{
    width: 5px;
    height: 5px;
    flex-shrink: 0;
    position: relative;
    top: -1px;
}

.mainItemPercent.negative{
    color: var(--red);
}

.mainItemPercent.positive{
    color: #1AAD53;
}

.mainItemVolume{
    width: 100%;
    padding-top: 0.7rem;
    border-top: 1px solid #2B2934;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.mainItemVolume span:first-child{
    font-size: 1.1rem;
    font-weight: 300;
    color: #686868;
}

.mainItemVolume span:last-child{
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.mainItemLine{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 16px;
    border: 1px solid #25242A;
}

.mainItemLineToken{
    width: 15%;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 9px;
    border-right: 1px solid rgba(49, 48, 56, .5);
}

.mainItemLineTokenImgInner{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #25242A;
    padding: 0.2rem;
}

.mainItemLineTokenImg{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.mainItemLineTokenImg img{
    object-fit: cover;
}

.mainItemLineTokenWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    width: 100%;
}

.mainItemLineTokenName{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
}

.mainItemLineTime{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: .6rem 2rem;
    border-right: 1px solid rgba(49, 48, 56, .5);
}

.mainItemLineSubtitle{
    font-size: 1.1rem;
    color: #686868;
    font-weight: 300;
}

span.mainItemLineSlider{
    padding: 0;
}

.mainItemLinePrice{
    width: 13%;
    padding: 1.3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    border-right: 1px solid rgba(49, 48, 56, .5);
}

@media (max-width: 1200px) {
    .mainItemLineToken, .mainItemLineTime, .mainItemLinePrice{
        width: calc(100% / 3);
        border-bottom: 1px solid rgba(49, 48, 56, .5);
    }

    .mainItemLinePrice{
        border-right: none;
    }
}
@media (max-width: 600px) {
    .mainItemLineToken, .mainItemLineTime{
        width: 50%;
    }

    .mainItemLinePrice{
        width: 50%;
        border-right: 1px solid rgba(49, 48, 56, .5);
    }
}

.mainItemLinePriceInner{
    display: flex;
    align-items: center;
    gap: 6px;
}

.mainItemLinePricePercent{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.2rem;
    font-weight: 500;
}

.mainItemLinePricePercent svg{
    width: 5px;
    height: 5px;
    flex-shrink: 0;
}

.mainItemLinePricePercent.negative{
    color: var(--red);
}

.mainItemLinePricePercent.positive{
    color: #1AAD54;
}

.mainItemLinePriceValue{
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
}

.mainItemLineText, .mainItemLineActions{
    width: 10%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-right: 1px solid rgba(49, 48, 56, .5);
}

.mainItemLineActions{
    width: 12%;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-right: none;
    padding: 1rem 0;
}

@media (max-width: 1200px) {
    .mainItemLineText, .mainItemLineActions{
        width: 20%;
    }
}
@media (max-width: 600px) {
    .mainItemLineText:nth-child(4), .mainItemLineText:nth-child(5){
        width: 25%;
        border-bottom: 1px solid rgba(49, 48, 56, .5);
    }

    .mainItemLineText:nth-child(5){
        border-right: none;
    }

    .mainItemLineText:nth-last-child(2), .mainItemLineText:nth-last-child(3), .mainItemLineActions{
        width: calc(100% / 3);
    }
}

.mainItemLineText .mainItemLineSubtitle{
    text-align: center;
}

.mainItemLineValue{
   font-size: 1.2rem;
   font-weight: 700;
   color: #fff;
   text-align: center; 
}

.mainItemLineBuy{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    padding: 1.05rem 2.4rem;
    border-radius: 12px;
    background: linear-gradient(45deg, #06AD68 0%, #67AD06 100%);
    display: flex;
}

@media (max-width: 768px) {
    .mainItemLineBuy{
        padding: 1.05rem 1.4rem;
    }
}

.mainItemLineCopy{
    width: 35px;
    height: 35px;
    border-radius: 12px;
    border: 1px solid #25242A;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-shrink: 0;
}

.mainItemLineCopy svg{
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

// Token chart
.discoverCard{
    width: calc(100% / 6 - 75px / 6);
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 14px;
    border: 1px solid var(--border);
    gap: 10px;
}

.discoverCardUser{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 6px;
    justify-content: space-between;
}

.discoverCardUserInfo{
    display: flex;
    align-items: center;
    gap: 7px;
}

.discoverCardInfo{
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    justify-content: space-between;
}

.discoverCardInfoProfit{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.discoverCardInfoProfitValue{
    color: #BCBCBD;
    font-size: 16px;
    font-weight: 500;
}

.discoverCardUserStats{
    padding: 3px 6px;
    border-radius: 5px;
    color: var(--main);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    background: rgba(65, 65, 74, .2);
}

.discoverCardUserInfoTextBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.discoverCardUserInfoName{
    font-size: 1.2rem;
    font-weight: 500;
    color: #BCBCBD;
}

.discoverCardUserInfoStatus{
    font-weight: 300;
    font-size: 1.2rem;
    color: #565664;
}

.discoverCardStats{
    width: 100%;
    display: flex;
    border-top: 1px solid var(--border);
    padding-top: 6px;
}

.discoverCardStat{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discoverCardStat:not(:last-child){
    border-right: 1px solid var(--border);
}

.discoverCardStatTitle{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    color: #565664;
}

.discoverCardStatValue{
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
}

.discoverCardChart{
    width: 120px;
    height: 60px;
    flex-shrink: 0;
}