.checkboxInner{
    width: 100%;
    display: flex;
}

.checkboxInner.auto{
    width: auto;
}

.checkbox{
    display: none;
}

.checkbox:checked + .checkboxLabel:after{
    opacity: 1;
    top: 7.5px;
}

.checkbox:checked + .checkboxLabel:before{
	border: 1px solid var(--main);
	background: var(--main);
}

.checkboxLabel{
    color: #646466;
    font-size: 1.2rem;
    line-height: 1.8;
    display: flex;
    position: relative;
    padding-left: 25px;
}

.checkboxLabel:before{
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 2.5px;
    border: 1px solid var(--border);
    transition: .2s linear;
}

.checkboxLabel:after{
    content: "";
    width: 9px;
    height: 8px;
    background: url("/img/check.svg") center no-repeat;
    position: absolute;
    top: 1px;
    left: 5px;
    opacity: 0;
    transition: .2s linear;
}

@media (any-hover: hover) {
    .checkboxLabel{
        cursor: pointer;
    }
}

.settingCheckboxInner{
    display: flex;
}

.checkboxSettingLabel{
    width: 55px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #25242A;
    background: #2A2D32;
    position: relative;
    transition: background .2s linear;
}

.checkboxSettingLabel:before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--main);
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: .2s linear;
}

.checkbox:checked + .checkboxSettingLabel{
    background: var(--main);
}

.checkbox:checked + .checkboxSettingLabel:before{
    background: #fff;
    left: 28px;
}

@media (any-hover: hover) {
    .checkboxSettingLabel{
        cursor: pointer;
    }
}