@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

:root {
    font-size: 11px;

    // Colors
    --main: #1FAD4F;

    --blockBg: #151319;
    --border: #252525;
}

@media (max-width: 1660px) {
    :root{
        font-size: 10.5px;
    }
}
@media (max-width: 1600px) {
    :root{
        font-size: 10px;
    }
}

html {
    
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
    touch-action: pan-y;
    background: #121116;
    color: #BCBCBD;
    height: 100dvh;
    overflow-y: hidden;
    overscroll-behavior: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #5d5d5d;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background-color: #121116;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

.scroll{
    overflow: hidden;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a, button, input, textarea, select, pre {
    font-size: 1.6rem;
    font-family: "Rubik", sans-serif;
    color: #BCBCBD;
}

a, button, input, textarea, select, path, line, rect {
    transition: 0.2s ease-in-out;
}

a {
    text-decoration: none;
    cursor: default;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h5, h6, p {
    margin: 0;
    font-weight: normal;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none;
}

button, input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

input {
    cursor: text;
}

input::placeholder {
    
}

.mainContent{
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}

.green{
    color: var(--main);
}

.mainGradientButton{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    background: linear-gradient(60deg, #06AD68 0%, #67AD06);
    display: flex;
    align-items: center;
    gap: 5px;
}

.title2{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.subtext{
    font-size: 1.3rem;
    font-weight: 300;
    color: #565664;
}

.outlinedButton{
    border: 1px solid var(--main);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 12px;
}

@media (any-hover: hover) {
    .mainGradientButton:hover{
        opacity: 0.7;
    }
}

@media (max-width: 768px) {
    .mainContent{
        padding-left: 10px;
    }
}
@media (max-width: 480px) {
    .mainContent{
        padding-left: 0px;
    }
}

.swiper-pagination{
    width: 100%!important;
    position: absolute;
    bottom: 13px;
    display: flex;
    justify-content: center;
    gap: 5px;
    z-index: 5;
}

.swiper-pagination-bullet{
    width: 5px!important;
    height: 5px!important;
    border-radius: 50%;
    display: inline-block;
    background: rgba(23, 22, 28, .5);
    transition: background .2s linear;
    margin: 0!important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background: #fff;
}

.tv-lightweight-charts{
    transition: width .2s linear!important;
}

@media (any-hover: hover) {
    a,
    button,
    .swiper-pagination-clickable .swiper-pagination-bullet {
        cursor: pointer;
    }
}

@media (any-hover: none) {
    a,
    button {
        cursor: default;
    }
}