.header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .header{
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.headerInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.headerMobileLogo{
    display: none;
    width: 174px;
    height: 31px;
}

@media (max-width: 480px) {
    .headerMobileLogo{
        display: flex;
    }
}
@media (max-width: 420px) {
    .headerMobileLogo{
        width: 130px;
        height: 25px;
    }
}

.liveTrades{
    font-size: 1.2rem;
    font-weight: 300;
    color: #A7A7A7;
    border-radius: 12px;
    padding: 1.2rem 1.8rem;
    border: 1px solid #25212c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

@media (max-width: 480px) {
    .liveTrades{
        display: none;
    }
}

.liveTrades:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(155deg, rgba(0, 0, 0, 0) 0%, rgba(90, 183, 72, .2) 100%);
    pointer-events: none;
}

.liveTrades span{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background: linear-gradient(-27deg, #06AD68 0%, #67AD06 100%);
}

.liveTrades span:before, .liveTrades span:after{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(37, 168, .7, .44);
}

.liveTrades span:after{
    width: 9px;
    height: 9px;
    animation: pulse 1s infinite;
    z-index: -1;
    background: rgba(37, 168, .7, .22);
}

@keyframes pulse {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: .5
    }
    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0
    }
}

.headerTrades{
    flex-grow: 1;
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.headerTradesItem{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 20px;
}

.headerTradesItem:first-child{
    animation: marquee1 120s infinite linear;
    animation-delay: -120s;
}

.headerTradesItem:nth-child(2){
    animation: marquee2 120s infinite linear;
    animation-delay: -60s;
}

@keyframes marquee1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@media (any-hover: hover) {
    .headerTrades:hover .headerTradesItem{
        animation-play-state: paused;
    }
}

@media (max-width: 768px) {
    .headerTrades{
        width: 100%;
        order: 3;
        padding: 0.9rem 0;
        border-bottom: 1px solid #1D1F24;
        border-top: 1px solid #1D1F24;
    }
}
@media (max-width: 480px) {
    .headerTrades{
        width: 100dvw;
        position: relative;
        left: -10px;
        flex-shrink: 0;
    }
}

.headerTrades:before, .headerTrades:after{
    content: "";
    display: block;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #121116 0%, rgba(18, 17, 22, 0) 100%);
    position: absolute;
    top: 0;
    pointer-events: none;
}

.headerTrades:before{
    left: 0;
}

.headerTrades:after{
    content: "";
    display: block;
    width: 110px;
    height: 100%;
    background: linear-gradient(to left, #121116 0%, rgba(18, 17, 22, 0) 100%);
    right: 0;
}

.headerCredentials{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    max-width: 100%;
    flex-wrap: wrap;
}

.headerLogin{
    padding: 1.1rem 1.5rem 1.1rem 1.9rem;
    border-radius: 12px;
}

@media (max-width: 480px) {
    .headerLogin{
        padding: 1.1rem 1.4rem;
    }
}

.headerLogin svg{
    width: 10px;
    height: 12px;
    flex-shrink: 0;
}

.headerMenuButton{
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #25242A;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    position: relative;
}

@media (max-width: 480px) {
    .headerMenuButton{
        display: flex;
    }
}

.headerMenuButton:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(155deg, rgba(0, 0, 0, 0) 0%, rgba(90, 183, 72, .2) 100%);
    pointer-events: none;
}

.headerMenuButton svg{
    width: 16px;
    height: 10px;
    flex-shrink: 0;
}

.headerUserInner{
    position: relative;
}

.headerButton, .headerButtonStars{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    min-height: 40px;
    padding: 5px 11px;
    border: 1px solid #25242A;
    border-radius: 12px;
}

.headerButton.active svg{
    transform: rotate(180deg);
}

@media (max-width: 480px) {
    .headerButton:not(.mobile), .headerButtonStars:not(.mobile){
        display: none;
    }
}

.headerButton svg{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

@media (any-hover: hover) {
    .headerButton:hover, .headerButtonStars:hover, .headerWallet:hover{
        border: 1px solid #676767;
    }
}

svg.headerButtonDown{
    width: 8px;
    height: 5px;
}

.headerButtonStars{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
}

.headerButtonStars svg{
    width: 23px;
    height: 20px;
    flex-shrink: 0;
}

.headerWalletInner{
    position: relative;
}

.headerWallet{
    padding: 6px 9px 6px 13px;
    border: 1px solid #25242A;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

@media (max-width: 480px) {
    .headerWallet:not(.mobile){
        display: none;
    }
}

.headerWalletModal, .headerUserModal{
    width: 340px;
    flex-shrink: 0;
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    padding: 15px 20px;
    border: 1px solid var(--border);
    border-radius: 12px;
    background: var(--blockBg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 6;
}

@media (max-width: 750px) {
    .headerWalletModal{
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 660px) {
    .headerWalletModal{
        left: 0;
        transform: translateX(0%);
    }

    .headerUserModal{
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}

.headerWalletModalBalance{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
}

.headerWalletModalBalanceText{
    max-width: 100px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #646466;
}

.headerWalletModalBalanceValue{
    color: var(--main);
    font-size: 28px;
    font-weight: 500;
}

.headerWalletModalEmail{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.headerWalletModalEmailText{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #646466;
}

.headerWalletModalEmailText svg{
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    color: #BCBCBD;
}

.headerWalletModalEmailValue{
    padding: 0;
    display: flex;
    align-items: center;
    gap: 7px;
    color: #BCBCBD;
    font-size: 1.2rem;
    font-weight: 500;
}

.headerWalletModalEmailValue svg{
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

.headerUserInfo{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 10px;
}

.headerUserInfoTextBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.headerUserInfoText{
    color: #646466;
    font-size: 1.2rem;
    font-weight: 300;
}

.headerUserInfoName{
    color: #BCBCBD;
    font-size: 1.4rem;
    font-weight: 500;
}

.solanaConnect{
    text-transform: uppercase;
    color: var(--main);
    font-size: 1.2rem;
    font-weight: 500;
}

.headerUserLogout{
    width: 100%;
    margin-top: 18px;
    padding-top: 10px;
    border-top: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: #BCBCBD;
    font-size: 1.2rem;
    font-weight: 500;
}

.headerUserLogout svg{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

@media (any-hover: hover) {
    .headerUserLogout:hover{
        color: #fff;
    }
}

.headerWalletModalButtons{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.headerWalletModalButton{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--main);
    border-radius: 12px;
}

.headerWallet svg{
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.headerWallet span{
    padding: 5px 13px;
    border-radius: 8px;
    border: 1px solid var(--main);
}

.loginModal{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.loginModal > svg:first-child{
    width: 100%;
    max-width: 200px;
}

.loginModalTitle{
    text-align: center;
    margin-top: 35px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #b6d58b;
}

.loginModalGoogle{
    width: 100%;
    justify-content: center;
    gap: 5px;
    padding: 12px;
    margin-top: 20px;
}

.loginModalGoogle svg{
    width: 13px;
    height: 13px;
    flex-shrink: 0;
}

.loginModalLinks{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.loginModalLink{
    font-size: 1.2rem;
    color: #BCBCBD;
}

@media (any-hover: hover) {
    .loginModalLink:hover{
        color: #fff;
    }
}

.loginModalMethods{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.loginModalMethod{
    width: calc(100% / 5 - 40px / 5);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    border-radius: 10px;
    min-height: 55px;
}

@media (any-hover: hover) {
    .loginModalMethod:hover{
        border: 1px solid #676767;
    }
}

.loginModalOther{
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 300;
    color: #565664;
}

.loginModalEmailInner{
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.loginModalEmail{
    width: 100%;
    min-height: 45px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 300;
    color: #fff;
    padding: 12px 100px 12px 20px;
    border: 1px solid var(--border);
    border-radius: 12px;
}

.loginModalEmailButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 11px;
    padding: 8px 11px;
    border-radius: 8px;
    border: 1px solid var(--main);
    color: var(--main);
    font-size: 1.1rem;
    font-weight: 300;
}

.withdrawModal, .withdrawModalForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.withdrawModalForm{
    gap: 10px;
}

.withdrawModalTitle{
    text-transform: uppercase;
    color: #BCBCBD;
    font-size: 1.4rem;
    font-weight: 500;
}

.withdrawModalButton{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.withdrawModalInfo{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid #E6C07B;
    font-size: 1.2rem;
    font-weight: 300;
    color: #E6C07B;
}

.withdrawModalInfo svg{
    width: 19px;
    height: 19px;
    flex-shrink: 0;
}

.amountWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.amountWrapTitleInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    flex-wrap: wrap;
}

.amountWrapTitle{
    font-size: 1.1rem;
    color: #fff;
}

.amountWrapTitleBalance{
    color: #fff;
    font-size: 1.1rem;
}

.amountWrapTitleBalance span{
    color: var(--main);
}

.amountWrapInputInner{
    width: 100%;
    position: relative;
}

.amountWrapInputButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #646466;
    padding: 3px 7px;
    border-radius: 6px;
    border: 1px solid var(--border);
}

.amountWrapInputInner > svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    pointer-events: none;
}

.amountWrapInput{
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: #fff;
    padding: 10px 65px 10px 35px;
    border: 1px solid var(--border);
    border-radius: 12px;
}

.depositeModal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.depositeModalTop{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
}

.depositeModalTopTitle{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    color: #BCBCBD;
}

.depositeModalTopBalance{
    display: flex;
    align-items: center;
    gap: 4px;
    color: #646466;
    font-size: 1.2rem;
    font-weight: 300;
    padding-right: 15px;
}

.depositeModalTopBalance span{
    color: var(--main);
    font-size: 28px;
    font-weight: 500;
}

.depositeModalItems{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.depositeModalItem{
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding: 11px 14px;
}

@media (any-hover: hover) {
    .depositeModalItem:hover{
        border: 1px solid var(--main);
    }

    .depositeModalItem:hover .depositeModalItemInfoIcon{
        color: var(--main);
    }
}

.depositeModalItemInfo{
    display: flex;
    align-items: center;
    gap: 9px;
}

.depositeModalItemInfoIcon{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: #BEBEBE;
}

.depositeModalItemInfoIcon svg{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.depositeModalItemTextBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.depositeModalItemTitle{
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}

.depositeModalItemText{
    color: #646466;
    font-size: 1.2rem;
    font-weight: 300;
}

.depositeModalIcons{
    display: flex;
    align-items: center;
}

.depositeModalIcon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(90, 183, 72, .2);
    flex-shrink: 0;
}

.depositeModalIcon svg, .depositeModalIcon img{
    max-width: 80%;
    max-height: 80%;
}

.depositeModalIcon:not(:first-child){
    margin-left: -4px;
}

.depositeConnects{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.depositeConnect{
    width: calc(100% / 3 - 10px / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 11px 7px;
    border-radius: 12px;
    border: 1px solid var(--border);
}

@media (any-hover: hover) {
    .depositeConnect:hover{
        border: 1px solid var(--main);
    }
}

.depositeConnectName{
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
}

.depositeTitleInner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.depositeTitleBlock{
    display: flex;
    align-items: center;
    gap: 8px;
}

.depositeTitlePrev{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid var(--border);
}

.depositeTitlePrev svg{
    width: 5px;
    height: 8px;
    flex-shrink: 0;
}

.depositeTitleWrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.depositeTitle{
    color: #BCBCBD;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
}

.depositeTitle.short{
    max-width: 100px;
}

.depositeText{
    color: #646466;
    font-size: 1.2rem;
    font-weight: 300;
}

.connectSolModal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.connectSolIcon{
    display: flex;
    width: 46px;
    flex-shrink: 0;
    color: var(--main);
}

.connectSolIcon svg{
    width: 100%;
    flex-shrink: 0;
}

.connectSolModalTextBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.connectSolModalTitle{
    color: #BCBCBD;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.connectSolModalText{
    text-align: center;
    color: #646466;
    font-size: 1.2rem;
    font-weight: 300;
}

.connectSolModalButtons{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.connectSolModalButton{
    width: calc(100% / 2 - 10px / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 9px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #646466;
}

@media (any-hover: hover) {
    .connectSolModalButton:hover{
        border: 1px solid #676767;
        color: #fff;
    }
}

.depositQr{
    width: 100%;
    display: flex;
    justify-content: center;
}

.learnModalContent, .learnModalContentWrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-top: 10px;
}

.learnModalContentWrap{
    padding-top: 0;
}

.learnButton{
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 14px;
}

.learnModalTitle{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    max-width: 280px;
}

.learnModalTitle.center{
    width: 100%;
    text-align: center;
}

.learnModalPoints{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.learnModalPoint{
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.learnModalPoint:not(:last-child){
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(49, 48, 56, .5);
}

.learnModalPointIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-46deg, #06AD68, #67AD06);
    flex-shrink: 0;
}

.learnModalPointIcon svg{
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 40%;
    color: #fff;
    flex-shrink: 0;
}

.learnModalPointTextBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.learnModalPointTitle{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}

.learnModalPointText{
    color: #646466;
    font-size: 1.2rem;
    font-weight: 300;
}

.learnModalSubtitle{
    font-size: 1.4rem;
    font-weight: 500;
}

.learnModalSubtitle:not(.green){
    color: #fff;
}

.learnModalIcon{
    width: 100%;
}

.learnModalIcon svg{
    width: 100%;
}

.learnModalContentInn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.learnModalText{
    font-size: 1.2rem;
    color: #646466;
    font-weight: 300;
}

.learnModalTasks{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.learnModalTask{
    width: 100%;
    border-top: 1px solid rgba(49, 48, 56, .5);
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.learnModalTaskElem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.learnModalTask > svg{
    width: 16px;
    flex-shrink: 0;
}

.learnModalTaskName{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.learnModalTaskElemIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main);
    color: #fff;
}

.learnModalTaskElemIcon svg{
    width: auto;
    height: auto;
    max-width: 45%;
    max-height: 45%;
}

.active .learnModalTaskElemIcon{
    background: linear-gradient(-46deg, #06AD68, #67AD06);
}