.header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .header{
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.headerInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.headerMobileLogo{
    display: none;
    width: 174px;
    height: 31px;
}

@media (max-width: 480px) {
    .headerMobileLogo{
        display: flex;
    }
}
@media (max-width: 420px) {
    .headerMobileLogo{
        width: 130px;
        height: 25px;
    }
}

.liveTrades{
    font-size: 1.2rem;
    font-weight: 300;
    color: #A7A7A7;
    border-radius: 12px;
    padding: 1.2rem 1.8rem;
    border: 1px solid #25212c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

@media (max-width: 480px) {
    .liveTrades{
        display: none;
    }
}

.liveTrades:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(155deg, rgba(0, 0, 0, 0) 0%, rgba(90, 183, 72, .2) 100%);
    pointer-events: none;
}

.liveTrades span{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background: linear-gradient(-27deg, #06AD68 0%, #67AD06 100%);
}

.liveTrades span:before, .liveTrades span:after{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(37, 168, .7, .44);
}

.liveTrades span:after{
    width: 9px;
    height: 9px;
    animation: pulse 1s infinite;
    z-index: -1;
    background: rgba(37, 168, .7, .22);
}

@keyframes pulse {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: .5
    }
    50% {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0
    }
    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0
    }
}

.headerTrades{
    flex-grow: 1;
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.headerTradesItem{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 20px;
}

.headerTradesItem:first-child{
    animation: marquee1 120s infinite linear;
    animation-delay: -120s;
}

.headerTradesItem:nth-child(2){
    animation: marquee2 120s infinite linear;
    animation-delay: -60s;
}

@keyframes marquee1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-200%);
    }
}

@media (any-hover: hover) {
    .headerTrades:hover .headerTradesItem{
        animation-play-state: paused;
    }
}

@media (max-width: 768px) {
    .headerTrades{
        width: 100%;
        order: 3;
        padding: 0.9rem 0;
        border-bottom: 1px solid #1D1F24;
        border-top: 1px solid #1D1F24;
    }
}
@media (max-width: 480px) {
    .headerTrades{
        width: 100dvw;
        position: relative;
        left: -10px;
        flex-shrink: 0;
    }
}

.headerTrades:before, .headerTrades:after{
    content: "";
    display: block;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #121116 0%, rgba(18, 17, 22, 0) 100%);
    position: absolute;
    top: 0;
    pointer-events: none;
}

.headerTrades:before{
    left: 0;
}

.headerTrades:after{
    content: "";
    display: block;
    width: 110px;
    height: 100%;
    background: linear-gradient(to left, #121116 0%, rgba(18, 17, 22, 0) 100%);
    right: 0;
}

.headerCredentials{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    max-width: 100%;
    flex-wrap: wrap;
}

.headerLogin{
    padding: 1.1rem 1.5rem 1.1rem 1.9rem;
    border-radius: 12px;
}

@media (max-width: 480px) {
    .headerLogin{
        padding: 1.1rem 1.4rem;
    }
}

.headerLogin svg{
    width: 10px;
    height: 12px;
    flex-shrink: 0;
}

.headerMenuButton{
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #25242A;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    position: relative;
}

@media (max-width: 480px) {
    .headerMenuButton{
        display: flex;
    }
}

.headerMenuButton:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(155deg, rgba(0, 0, 0, 0) 0%, rgba(90, 183, 72, .2) 100%);
    pointer-events: none;
}

.headerMenuButton svg{
    width: 16px;
    height: 10px;
    flex-shrink: 0;
}

.headerButton, .headerButtonStars{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    min-height: 40px;
    padding: 5px 11px;
    border: 1px solid #25242A;
    border-radius: 12px;
}

@media (max-width: 480px) {
    .headerButton:not(.mobile), .headerButtonStars:not(.mobile){
        display: none;
    }
}

.headerButton svg{
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

@media (any-hover: hover) {
    .headerButton:hover, .headerButtonStars:hover, .headerWallet:hover{
        border: 1px solid #676767;
    }
}

svg.headerButtonDown{
    width: 8px;
    height: 5px;
}

.headerButtonStars{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
}

.headerButtonStars svg{
    width: 23px;
    height: 20px;
    flex-shrink: 0;
}

.headerWallet{
    padding: 6px 9px 6px 13px;
    border: 1px solid #25242A;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

@media (max-width: 480px) {
    .headerWallet:not(.mobile){
        display: none;
    }
}

.headerWallet svg{
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.headerWallet span{
    padding: 5px 13px;
    border-radius: 8px;
    border: 1px solid var(--main);
}